.breadcrumb {
  align-items: baseline;
  padding: 1rem 1rem ;
  margin-bottom: 0rem;
}

.card-header {
  background-color: rgb(208 255 189);
}

.card-title {
  color: rgb(0, 0, 0);
  font-weight: 300;
}

label {
  font-weight: 300;
}

.marginator {
  margin: 1rem;
}

.icon{
  margin-left: 1rem;
  font-size: 2rem;
  color: #d0ffbd;
}

body {
  background-color: #e4bdff;
}